name: pkg-pr-new
on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'playground/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'playground/**'

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile
      - run: pnpm dev:prepare
      - run: pnpm lint
      # - run: pnpm test:types

      - name: Build
        run: pnpm prepack

      - run: pnpm dlx pkg-pr-new publish
