name: Publish Package

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm i -fg corepack && corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile
      - run: pnpm dev:prepare
      - run: pnpm lint
      # - run: pnpm test:types

      - name: Update npm
        run: npm install -g npm@latest
      - name: Publish
        run: |
          TAG="${{ github.ref_name }}"
          VERSION="${TAG#v}"
          DIST_TAG="latest"
          if [[ "$VERSION" =~ (alpha|beta|rc) ]]; then
            DIST_TAG="${BASH_REMATCH[1]}"
          fi
          npm version "$VERSION" --no-git-tag-version --allow-same-version
          npm publish --tag "$DIST_TAG" --provenance
